{% extends "tpl/layout.html" %}
{% block content %}
<div class="content-wrapper">
    {% set title = 'Categoría' %}
    {% include "tpl/content-header.html" %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 ml-auto">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-block btn-success">Nueva Categoría</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div class="card collapsed-card">
                        <div class="card-header">
                            <h3 class="card-title">Categorias</h3>
                            <div class="card-tools">
                                <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                    <i class="fas fa-plus"></i>
                                </button>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-10">
                                    <label>Nombre</label>
                                    <input type="text" class="form-control" id="">
                                    <label>Descripcion</label>
                                    <input type="text" class="form-control" id="">
                                    <label>Url</label>
                                    <input type="text" class="form-control" id="">
                                </div>    
                                <div class="col-md-2">
                                    <button class="btn btn-block btn-success">Guardar</button>
                                    <button class="btn btn-block btn-danger">Eliminar</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            Footer
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}