{% extends "tpl/layout.html" %}
{% block content %}
<div class="content-wrapper">
    {% set title = 'Categoría' %}
    {% include "tpl/content-header.html" %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2 ml-auto">
                    <div class="content">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-block btn-success" data-toggle="modal" data-target="#modal-default">Nueva Categoría</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="row">
                {% if categorias %}
                    {% for item in categorias %}
                    <div class="col-md-12">
                        <div class="card collapsed-card">
                            <div class="card-header">
                                <h3 class="card-title">{{ item.titulo }}</h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                        <i class="fas fa-plus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">
                                
                                    <div class="col-md-10">
                                        <label>Nombre</label>
                                        <input type="text" class="form-control " name="update-title" id="update-title" value="{{ item.titulo }}">
                                        <label>Descripcion</label>
                                        <input type="text" class="form-control " name="update-description" id="update-description" value="{{ item.descripcion }}">
                                        <label>Url</label>
                                        <input type="text" class="form-control " name="update-url" id="update-url" value="{{ item.url }}">

                                    </div>    
                                    <div class="col-md-2">
                                        <button type="" class="btn btn-block btn-success update-category" data-id="{{ item.cid }}" >Guardar</button>
                                        <button class="btn btn-block btn-danger delete-category" data-id="{{ item.cid }}">Eliminar</button>
                                    </div>
                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Default Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" method="post" class="newcategory">
                <div class="modal-body">
                    <label>Nombre</label>
                    <input type="text" class="form-control category-title">
                    <label>Descripcion</label>
                    <input type="text" class="form-control category-descripcion">
                    <label>Url</label>
                    <input type="text" class="form-control category-url url">
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" onclick="objblog.newcategory();">Crear</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock content %}