{% extends "tpl/layout.html" %}
{% block content %}
<div class="content-wrapper">

    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1>Nueva Publicación</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active">General Form</li>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <div class="content">
        <form method="POST" action="publicar" autocomplete="off">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-4 ml-auto">
                        <div class="content">
                            <div class="row">
                                <div class="col-md-6">
                                    <button type="submit" class="btn btn-block btn-success">Publicar</button>
                                </div>
                                <div class="col-md-6">
                                    <button type="button" class="btn btn-block btn-danger">Cancelar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-md-8">
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Principal</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label>Titulo</label>
                                    <input type="text" name="title" class="form-control title" required>
                                </div>
                                <div class="form-group">
                                    <label>Bajada</label>
                                    <input type="text" name="bajada" class="form-control bajada" required>
                                </div>
                                <div class="form-group">
                                    <label>Url</label>
                                    <input type="text" name="url" class="form-control url" required>
                                </div>
                                <label>Tags</label>
                                <div id="my-tag-list" class="tag-list"></div>
                                <input type="hidden" name="tag" class="tag" required>

                                <div class="form-group">
                                    <label>Contenido</label>
                                    <div class="text-area">
                                        <textarea id="some-textarea" placeholder="Enter text ..." style="styles to copy to the iframe"></textarea>
                                        <input type="hidden" name="contenido" class="contenido">
                                    </div>
                                </div>
                            </div>
                            
                            <div class="card-footer">
                                <!-- <input onclick="objblog.test()" class="btn btn-primary" type="button" value="test"> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <!-- imagen -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Imagen Principal</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group" id="upload-image-btn">
                                    <div class="subiendoimg loader loader--style8" title="Cargando">
                                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24px" height="30px" viewBox="0 0 24 30" style="enable-background:new 0 0 50 50;" xml:space="preserve">
                                            <rect x="0" y="10" width="4" height="10" fill="#333" opacity="0.2">
                                                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0s" dur="0.6s" repeatCount="indefinite" />
                                                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
                                                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0s" dur="0.6s" repeatCount="indefinite" />
                                            </rect>
                                                <rect x="8" y="10" width="4" height="10" fill="#333"  opacity="0.2">
                                                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                                                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                                                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.15s" dur="0.6s" repeatCount="indefinite" />
                                            </rect>
                                            <rect x="16" y="10" width="4" height="10" fill="#333"  opacity="0.2">
                                                <animate attributeName="opacity" attributeType="XML" values="0.2; 1; .2" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                                                <animate attributeName="height" attributeType="XML" values="10; 20; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                                                <animate attributeName="y" attributeType="XML" values="10; 5; 10" begin="0.3s" dur="0.6s" repeatCount="indefinite" />
                                            </rect>
                                        </svg>
                                    </div>
                                    <input type="file" name="image" id="zone-upload" required>
                                    <input type="hidden" name="pathImage" class="pathImage">
                                    <input type="hidden" name="leyendaImput" class="leyendaImput">
                                </div>
                                <div class="leyenda"></div>
                                <button type="button" class="btn btn-eliminarImg btn-block btn-danger btn-xs">Eliminar</button>
                                <br>
                                <label>Leyenda</label>
                                <input type="text" name="leyenda" class="form-control leyenda-input" required>
                            </div>
                        </div>
                        <!-- Categoria -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Categoria</h3>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <select class="custom-select" required name="categoria">
                                        <option value="">Seleccione una categoría</option>
                                        <option value="1">Categoria 1</option>
                                        <option value="2">Categoria 2</option>
                                        <option value="3">Categoria 3</option>
                                        <option value="4">Categoria 4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <!-- Categoria -->
                        <div class="card card-primary">
                            <div class="card-header">
                                <h3 class="card-title">Fecha</h3>
                            </div>
                            <div class="card-body">
                                <input type="text" name="date" class="form-control" id="datepicker">
                            </div>
                            <div class="card-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>


{% endblock content %}