.btn-info {
    color: #fff;
    background-color: #5a6166;
    border-color: #5a6166;
    box-shadow: none;
}
.btn-eliminarImg{
    display: none;
    width: 50%;
    margin: auto;
}
.btn-info:hover {
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
#upload-image-btn{
    text-align: center;
    margin: 0;
}
#zone-upload[type="file"]{
    width: 100%;
    border: 1px solid #ccc;
    cursor: pointer;
}
#zone-upload[type="file"]::after {
    top: -29px;
    position: relative;
    width: 100%;
    height: 50px;
    content: 'Eliga la imagen.';
    display: block;
    background: #fff;
    line-height: 80px;
    text-align: center;
}
.subiendoimg{
    display: none;
}
.previewImg{
    width: 100%;
    height: 200px;
    border: 1px solid #ccc;
    overflow: hidden;
}
.previewImg img{
    width: 100%;
    height: 100%;
}
.leyenda{
    position: relative;
    top: -1px;
    width: 100%;
    height: 30px;
    background: #5a6166;
    text-align: center;
    color: #fff;
}
.timeline-a {
    margin: 0 0 45px;
    padding: 0;
    position: relative;
}
.timeline-a>div {
    margin-bottom: 15px;
    margin-right: 10px;
    position: relative;
}
.timeline-a>div>.timeline-item {
    box-shadow: 0 0 1px rgba(0,0,0,.125), 0 1px 3px rgba(0,0,0,.2);
    border-radius: .25rem;
    background: #fff;
    color: #495057;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 0;
    padding: 0;
    position: relative;
}
.timeline-a>div>.timeline-item>.time {
    color: #999;
    float: right;
    font-size: 12px;
    padding: 10px;
}
.timeline-a>div>.timeline-item>.timeline-header {
    border-bottom: 1px solid rgba(0,0,0,.125);
    color: #495057;
    font-size: 16px;
    line-height: 1.1;
    margin: 0;
    padding: 10px;
}
.timeline-a>div>.timeline-item>.timeline-body, .timeline-a>div>.timeline-item>.timeline-footer {
    padding: 10px;
}
.timeline-a>div>.timeline-item>.timeline-footer>a {
    color: #fff;
}
.nota_item{
    height: 150px;
    margin-bottom: 10px;
}
.image_nota{
    float: left;
    margin: 5px;
    width: 160px;
    height: 140px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}
.content_nota{
    width: 81%;
    float: right;
}
.item_nota_title{
    margin: 0px;
}
.nota_linea{
    margin: 0px 0px 5px;

}
.item_link{
    margin-left: 15px;
}
.item_nota_url{
    display: inline-block;
    margin-top: 4px;
    padding: 5px;
    border-radius: 15px;
    background: #ccc;
}